@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

*{
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

body, html{
    margin: 0;
    width: 100%;
    height: 100%;

}

body{
    background-color: #a8a8a8;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.d-none{
    display: none;
}

.container{
    width: 90%;
    height: 90%;
    margin: 10px;
    margin: 0 auto;
}

.score-container{
    position: relative;
}

canvas{
    background-color: #d3d3d3;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(200,200,200,0.6);
    -moz-box-shadow: 0px 0px 30px 10px rgba(200,200,200,0.6);
    box-shadow: 0px 0px 30px 10px rgba(200,200,200,0.6);
}

.score{
    font-size: 50px;
    color: white;
    margin: 0;
    top: 25px;
}

#p1Score{
    position: absolute;
    left: 40%;
}

#p2Score{
    position: absolute;
    right: 40%;
}

/*BUTTONS*/
.btn-container{
    /*POSITIONING*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    /*STYLING*/
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
